[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:KubaVymola/kickstart.nvim.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
